.icons
{
    width: 20px;
    height: 20px;
    transition: transform .2s; /* Animation */
}

.icons:hover
{
    transform: scale(1.5);
}

.nrtel
{
    color: white;
}

.contact-bar
{
    height: 20px;
    width: 100%;
    color: #232d39!important;
}