.icons
{
    width: 20px;
    height: 20px;
    transition: transform .2s; /* Animation */
}

.icons:hover
{
    transform: scale(1.5);
}

.nrtel
{
    color: white;
    font-size: 17px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 760px){ .nrtel { color: #232d39; }}

.contact-bar
{
    height: 20px;
    width: 100%;
    color: #232d39!important;
}