.icons
{
    width: 20px;
    height: 20px;
    transition: transform .2s; /* Animation */
}

.icons:hover
{
    transform: scale(1.5);
}

.nrtel
{
    color: white;
    font-size: 17px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 760px){ .nrtel { color: #232d39; }}

.contact-bar
{
    height: 20px;
    width: 100%;
    color: #232d39!important;
    margin-top: 5px;
}

.text-font
{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}


.text-fontwhite
{
    color: white;
}

.ab
{
    font-style: normal;
    color: #008cff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');